.contact {
    width: 100%;
    display: flex;
    padding: 25px 10%;
    margin-bottom: 35px;  
    column-gap: 51px;
}

.contact-title {
    font-family: var(--ff-m);
    font-weight: 700;
    color: var(--black);
    font-size: 2rem;
}

.nav-cards {
    display: flex;
    column-gap: 162px;
    flex-wrap: wrap;
}

.nav-title {
    font-family: var(--ff-m);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--black);

    margin-bottom: 24px;
}

.nav-item {
    font-family: var(--ff-i);
    font-weight: 400;
    color: var(--gray);


    margin-bottom: 12px;
}