#home {
    display: flex;
    min-height: calc(50vh - 50px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 3rem;
    color: var(--color-primary-2);;
}

#cta .title span {
    color: var(--color-primary-3);
}


#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-primary-1);;
}



#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    color: black;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button a {
    color: black;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#mid-banner {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 50%;
    z-index: 2;
}


#mid-banner img {
    height: 100%;
    width: 80%;
    border-radius: 40% 30% 0% 20%;
}

#banner img {
    height: 100%;
    width: 70%;
    border-radius: 40% 30% 0% 20%;
}



@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #mid-banner,
    #mid-banner img,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    

}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}