#testimonials {
    min-height: calc(70vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    
}


#testimonials_content {
    width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-height: 15vh;
    margin-bottom: 10rem;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}


.feedback-content p {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #testimonial_chef {
        display: none;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #testimonials .section-subtitle {
        font-size: 2rem;
    }

    #testimonials_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
    }
} 